@{
    ViewBag.Title = "Home Page";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Accueil
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
    </ol>
</section>

<!-- Main content -->
    <section class="content">
        
        

        <!-- /.row -->
    </section>
    <!-- /.content -->